body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: 200;
    font-size: 120%;
}
input[type=submit] {
    margin: 5px 0;
}

#layout {
    padding-left: 180px;
}
#leftMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 180px;
    width: 180px;
    margin-left: -180px;
    overflow: auto;
}
#leftMenu .pure-menu-open {
    background: transparent;;
    border: 0;
}

#index {
    width: 100%;
}