body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: 200;
    font-size: 120%;
    color: #555;
}
input[type=submit] {
    margin: 5px 0;
}

h2 {
    font-weight: 200;
    color: #888;
    border-left: 5px solid silver;
    padding-left: 50px;
}
small {
    display: block;
    font-size: 60%;
}

blockquote {
    font-style: italic;
    color: #777;
}
a {
    color: #555;
}

textarea {
    width: 100%;
    max-width: 100%;
}

.staticColor:visited {
    color: #555;
}

.spec {
    margin: 5px;
    display: inline-block;
}
.spec>input, .spec>q {
    display: inline-block;
    width: 100px;
}
.spec>input, textarea {
    background: #FDFDFD;
    border: 1px solid #EAEAEA;
    color: #444;
}

input.highlight, textarea.highlight {
    background-color: #ffff99;
}
input.error, textarea.error  {
    background-color: #ff9999;
}


.pure-form input, .pure-form select {
    margin-top: 5px;
}

.unitList {
    list-style: none;
    padding-left: 0;
}
.unitCard {
    min-height: 150px;
    border-bottom: 1px solid silver;
    padding: 5px;
}
.newUnitCard {
    padding: 5px;
}

#layout {
    padding-left: 180px;
}
#leftMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 180px;
    width: 180px;
    margin-left: -180px;
    overflow: auto;
}
#leftMenu .pure-menu-open {
    background: transparent;;
    border: 0;
}

#index {
    width: 100%;
}