            <div class="pure-u" id="index">
                {{{pageTitle}}}
				<div id="home">
				    <ul class="unitList">
				        {{#each units}}{{#with this}}<li class="unitCard">
				            <a href="/units/{{_id}}" class="staticColor">{{property.address}}{{#if number}}, #{{number}}{{/if}}</a>
		            		<span>{{property.city}}{{#if property.state}}, {{property.state}}{{/if}}</span>
			        		{{#if bedrooms}}<span class="spec">beds: <q>{{bedrooms}}</q></span>{{/if}}
			        		{{#if bathrooms}}<span class="spec">baths: <q>{{bathrooms}}</q></span>{{/if}}
			        		{{#if size}}<span class="spec">size (sqft.): <q>{{size}}</q></span>{{/if}}
				        {{/with}}</li>{{/each}}
				        <li class="newUnitCard">
						    <form action="/units" method="post" class="pure-form">
							    <input type="hidden" name="_csrf" value="{{_csrf}}">
						    	<fieldset>
								    <input type="text" name="address" placeholder="address" required>
							    	<input type="text" name="number" placeholder="unit #">
								    <input type="text" name="city" placeholder="city" required>
								    <input type="text" name="state" placeholder="state">
								    <input type="text" name="zip" placeholder="zip" required>
								    <select name="country" required>
								    	<option>United States</option>
								    </select>
								</fieldset>
								<input type="submit" value="New Unit" class="pure-button pure-button-primary">
						    </form>
						</li>
				    </ul>
				</div>
			</div>