            <div class="pure-u" id="index">
                {{{pageTitle}}}
				<div id="home">
				    <ul>
				        {{#each units}}<li>
				            {{this.title}}
				            {{this.description}}
				        </li>{{/each}}
				    </ul>
				    <form action="/units/create" method="post" class="pure-form">
					    <input type="hidden" name="_csrf" value="{{_csrf}}">
					    <input type="text" name="address" placeholder="address" required>
					    <input type="text" name="city" placeholder="city" required>
					    <input type="text" name="state" placeholder="state">
					    <input type="text" name="zip" placeholder="zip" required>
					    <select name="country" required>
					    	<option>United States</option>
					    </select>
					    <input type="text" name="number" placeholder="unit #">
					    <input type="text" name="description" placeholder="description">
					    <input type="number" name="size" placeholder="size (sqft.)">
					    <input type="number" name="bedrooms" placeholder="# of bedrooms">
					    <input type="number" name="bathrooms" placeholder="# of bathrooms">
					    <input type="number" name="price" placeholder="rent price ($)">
					    <label for="available">Available?</label>
					    <input id="available" type="checkbox" name="available">
						<input type="submit" value="New Unit" class="pure-button pure-button-primary">
				    </form>
				</div>
			</div>