<form action="/login" method="post" class="pure-form login">
    <input type="text" name="email" id="email" placeholder="email">&nbsp;
    <input type="password" name="password" placeholder="password">&nbsp;
    <input type="hidden" name="_csrf" value="{{_csrf}}">
    <input type="submit" value="Login" class="pure-button">
</form>
<form action="/register" method="post" class="pure-form pure-form-stacked">
    <input type="text" name="firstName" id="firstName" placeholder="First Name"><br>
    <input type="text" name="lastName" id="lastName" placeholder="Last Name"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="hidden" name="_csrf" value="{{_csrf}}">
    <input type="submit" value="Register" class="pure-button pure-button-primary">
</form>