body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: 200;
    font-size: 120%;
    color: #555;
}
input[type=submit] {
    margin: 5px 0;
}

h2 {
    font-weight: 200;
    padding: 0 50px;
}
small {
    display: block;
    font-size: 60%;
}

h3 {
    min-height: 40px;
}

blockquote {
    font-style: italic;
    color: #777;
}
a {
    color: #555;
}

textarea {
    width: 100%;
    max-width: 100%;
}

.actionIcon {
    color: #999;
    text-decoration: none;
}
.actionIcon:hover {
    color: #555;
}
.staticColor:visited {
    color: #555;
}

.spec {
    margin: 5px;
    display: inline-block;
}
.spec>input, .spec>q {
    display: inline-block;
    width: 100px;
}
.pure-form input[type]:not([type=submit]), .pure-form textarea {
    background: #FDFDFD;
    border: 1px solid #DADADA;
    border-radius: 1px;
    color: #444;
}
.index {
    width: 100%;
}
.pure-menu.pure-menu-horizontal>ul {
    height: inherit;
}

.ajaxInputs input.highlight, .ajaxInputs textarea.highlight {
    background-color: #bbffbb;
}
.ajaxInputs input.error, .ajaxInputs textarea.error  {
    background-color: #ff9999;
}

.pure-menu-selected {
    background: #eee;
}
.pure-form-aligned input, .pure-form-aligned select {
    margin-top: 5px;
}
.pure-form input {
    margin-right: 10px;
}
.unitList {
    list-style: none;
    padding-left: 0;
}
.unitCard {
    min-height: 150px;
    border-bottom: 1px solid silver;
    padding: 5px;
}
.newUnitCard {
    padding: 5px;
}
.unitCard:hover, .newUnitCard:hover, .scrollList>li:hover {
    background: #eee;
}
.gallery {
    margin: 20px;
    list-style: none;
}
.gallery>li {
    position: relative;
    display: inline-block;
    padding: 10px;
}
.scrollList {
    list-style: none;
    padding: 0;
    border: 1px solid silver;
    border-right: none;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrollList>li {
    padding: 5px;
}
button.icon-remove-sign {
    font-size: 150%;
    text-shadow: 0 0 10px white;
    color: #222;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
}
.ui-datepicker {
    display: none;
    background: white;
    box-shadow: 0 0 4px #000;
    padding: 10px;
    border-radius: 1px;
}
.ui-datepicker-prev, .ui-datepicker-prev, .ui-datepicker-title {
    display: inline-block;
}
.ui-datepicker-prev {
    cursor: pointer;
    position: absolute;
    left: 5px;
}
.ui-datepicker-next {
    cursor: pointer;
    position: absolute;
    right: 5px;
}
.ui-datepicker-title {
    width: 150px;
    margin: 0 25px;
}
.ui-datepicker-calendar {
    width: 100%;
}
.ui-datepicker-calendar a {
    text-decoration: none;
}

.ui-state-disabled {
    cursor: default;
    color: #999;
}

#layout {
    padding-left: 180px;
}
#leftMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 180px;
    width: 180px;
    margin-left: -180px;
    overflow: auto;
}
@media (max-width: 640px) {
    #layout {
        padding-left: 20px;
    }
    #leftMenu {
        left: 0;
    }
}

#leftMenu .pure-menu-open {
    background: transparent;
    border: 0;
}

#saveVisit {
    display: none;
}
#visitDate {
    width: 200px;
    max-width: 100%;
}
#visitSpots {
    width: 80px;
}